node_modules/
bower_components/
tmp/
.cache

# Mac
.DS_Store

# Vim
.vimrc

# sass
.maps.css
.sass-cache
__*.scss
*.css.map

# IDE configs
.brackets.json
.jsbeautifyrc

# Temp files
*~
*.swp

# Compiled assets
dist
