/*doc
---
title: Font
category: Global - Font
---
|Variable Name | Value
|---------|-------|
|$base-font-px | 16 |
|$base-font-family | arial, Helvetica, helvetica, sans-serif |
*/
// Base Font Size
$base-font-px: 16;

// Base Font Family
$base-font-family: arial, Helvetica, helvetica, sans-serif;
