/*doc
---
title: Padding
category: Global - Padding
---
|Variable Name | Value
|---------|-------|
|$box-padding | 30px |
|$band-padding | 60px |
*/

// Spacing Variables
$box-padding: 30px;
$band-padding: 60px;
