/*doc
---
title: make-button()
category: Global - Mixins
---

@mixin make-button($background, $text: white, $border: 1px, $disabled: false)

-    __$background - sets background color
-    __$text: white__ - sets text color
-    __$border: 0__ - sets border styles, i.e. 1px
-    __$disabled: false__ - if set to "true" removes hover effect and sets pointer to default

```inline
.class_name {
  @include make-button(
    color("red"),
    color("white")
  );
}
```
*/

@mixin make-button( $background, $text: #fff, $border: 0, $disabled: false) {
    font-family: $base-font-family;
    background-color: $background;
    color: $text;
    display: inline-block;
    border: $border solid $text;
    font-size: 16px;
    padding: 9px 40px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    @if $disabled != disabled {
        transition: background .2s ease-in 0s;
        cursor: pointer;
        &:hover {
            @if $background != transparent {
                background-color: darken( $background, 6% );
            }
            color: $text;
            text-decoration: none;
            @if $border != 0 {
                border-color: darken( $text, 6% );
            }
        }
    }
    @if $disabled == true {
        cursor: default;
        &:hover {
            background-color: $background;
            color: $text;
            text-decoration: none;
        }
    }
}
