.slider {
    &[data-align="bleed"] {
        @extend %bleeding-container-top;
        width: auto;
    }
    &-nav {
        //@extend %default-reset;
        @include flex(
            $flow: row nowrap,
            $align: both
        );
        [data-nav-style="arrows"] & {
            height: 100%;
        }
    }
    &-nav-item {
        cursor: pointer;
        transition-property: background .2s ease-in 0s;
        [data-nav-style="text"] &,
        [data-nav-style="circles"] & {
            background: transparent;
            border: 1px solid color("black");
            margin-right: $box-padding;
            &:last-child {
                margin-right: 0;
            }
            [data-theme="dark"] & {
                border-color: color("white");
            }
            &[data-active="true"],
            &[data-active="false"]:hover {
                background-color: color("black");
                border: 0;
                [data-theme="dark"] & {
                    background-color: color("white");
                }
            }
        }
        [data-nav-style="text"] & {
            padding: 5px 15px;
            @include breakpoint( $screen-sm-min ) {
                padding: 9px 40px;
            }
        }
        [data-nav-style="circles"] & {
            @include flex(
                $align: both
            );
            border-radius: 50%;
            padding: 9px;
            height: 1.6em;
            width: 1.6em;
        }
        [data-nav-style="arrows"] &[data-active="true"] {
            border-radius: 5px;
            color: color("black");
            [data-theme="dark"] & {
                border-color: color("white");
            }
            &[data-direction="prev"] {
                @include arrow(
                    $type: left,
                    $height: 20px,
                    $width: 20px
                );
            }
            &[data-direction="next"] {
                @include arrow(
                    $type: right,
                    $height: 20px,
                    $width: 20px
                );
            }
        }
    }
    &-nav-link {
        transition-property: color .2s ease-in 0s;
        color: color("black");
        [data-theme="dark"] & {
            color: color("white");
        }
        [data-nav-style="text"] &,
        [data-nav-style="circles"] & {
            font-family: $base-font-family;
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 600;
            text-align: center;
            font-size: .9em;
            @include breakpoint( $screen-sm-min ) {
                font-size: 1em;
            }
        }
        [data-active="true"] &,
        [data-active="false"]:hover & {
            color: color("white");
            [data-theme="dark"] & {
                color: color("black");
            }
        }
    }
}

