.band {
    --surface-color: #f0f0f0;
    --title: #004153;
    --text: #252527;
    --text-light: #4c4c4c;

    padding: 60px 0;
    background-size: cover;
    background-color: var(--surface-color);
    color: var(--text);

    &[data-band-background="dark"],
    &[data-theme="dark"],
    [data-theme="dark"] & {
        --text: #fff;
        --text-light: #fff;
        --title: #fff;
        --surface-color: #252527;
    }

    &-container {
        @include container;
        padding: 0 9px;
        @include breakpoint(768px) {
            width: 750px;
            padding: 0;
        }
        @include breakpoint(992px) {
            width: 970px;
        }
        @include breakpoint(1200px) {
            width: 1170px;
        }
    }

    &-header {
        // > *:last-child {
        //     margin-bottom: 0;
        // }
        &-title {
            font-size: 22px;
            margin-bottom: 15px;
            text-transform: uppercase;
            font-weight: 800;
            line-height: 1.4;
            color: var(--title);
        }

        &-headline {
            font-size: 32px;
            margin-bottom: 20px 32px;
            font-weight: 800;
            margin-top: 0;
            line-height: 1.1;

            @include breakpoint(992px) {
                font-size: 39px;
                margin-bottom: 17px 39px;
            }

            @include breakpoint(1200px) {
                font-size: 42px;
                margin-bottom: 17px 42px;
            }

            a {
                text-decoration: none;
                color: inherit;
                &:hover {
                    color: var(--link, #0088ce);
                }
            }
        }
        &-summary {
            font-size: 1em;
            line-height: 1.38;
            margin-top: 0;
            color: var(--text-light);

            a {
                text-decoration: none;
                color: var(--link, #0088ce);
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
}
