{% extends "_default.twig" %}
{% set css = "" %}
{% set js  = "slider" %}

{% block content %}
<section class="band" data-theme="gray">
    <div class="band-container" data-layout="stacked">
         <header class="band-header">
             <h3 class="band-header-title">Demo</h3>
             <h4 class="band-header-headline">Card Slider</h4>
         </header>
        <div class="band-body" data-layout="8 4">
            <div class="group" data-layout="stacked">
                <div class="content">
                    <p>Culpa iis non esse ullamco, hic nulla reprehenderit iis in dolore culpa id deserunt, nam incididunt efflorescere ea quem commodo cernantur est ubi an dolor deserunt, culpa admodum ut possumus non ubi iudicem graviterque. Qui iis amet minim fugiat, litteris legam te doctrina fidelissimae.</p>
                </div>
                <footer class="band-footer">
                    <div class="cta">
                        <a class="cta-link" data-cta-type="button">Learn more</a>
                    </div>
                </footer>
            </div>
            <aside class="card" data-theme="dark">
                <div class="switcher">
                    <div class="switcher-body" data-slide-id="demo1" data-height="variable">
                        <article class="switcher-slide" data-state="current" id="0" data-layout="stacked">
                            <header class="card-header">
                                <h2 class="card-header-headline">Slide #1</h2>
                             </header>
                            <div class="card-body">
                                <div class="content">
                                    <p>Legam in et aliqua excepteur, non nulla qui noster. Ab aute occaecat.</p>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="cta">
                                    <a class="cta-link" data-cta-type="secondary" href="">Call to action</a>
                                </div>
                            </div>
                        </article>
                        <article class="switcher-slide" data-state="next" id="1" data-layout="stacked">
                            <header class="card-header">
                                <h2 class="card-header-headline">Slide #2</h2>
                             </header>
                            <div class="card-body">
                                <div class="content">
                                    <p>Legam in et aliqua excepteur, non nulla qui noster. Ab aute occaecat.</p>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="cta">
                                    <a class="cta-link" data-cta-type="secondary" href="">Call to action</a>
                                </div>
                            </div>
                        </article>
                        <article class="switcher-slide" data-state="next" id="2" data-layout="stacked">
                            <header class="card-header">
                                <h2 class="card-header-headline">Slide #3</h2>
                             </header>
                            <div class="card-body">
                                <div class="content">
                                    <p>Legam in et aliqua excepteur, non nulla qui noster. Ab aute occaecat.</p>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="cta">
                                    <a class="cta-link" data-cta-type="secondary" href="">Call to action</a>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                <footer class="slider" data-nav-style="circles">
                    <ul class="slider-nav" data-slide-id="demo1">
                        <li class="slider-nav-item" data-slide-to="0" data-active="true">
                            <a class="slider-nav-item-link" title="View 1"></a>
                        </li>
                        <li class="slider-nav-item" data-slide-to="1" active="false">
                            <a class="slider-nav-item-link" title="View 2"></a>
                        </li>
                        <li class="slider-nav-item" data-slide-to="2" data-active="false">
                            <a class="slider-nav-item-link" title="View 3"></a>
                        </li>
                    </ul>
                </footer>
            </aside>
        </div>
    </div>
</section>
{% endblock %}
