%bleeding-container-top {
    margin-top: -$box-padding;
    margin-left: -$box-padding;
    margin-right: -$box-padding;
}
%bleeding-container {
    margin-left: -$box-padding;
    margin-right: -$box-padding;
}
%default-media {
    max-width: 100%;
    height: auto;
}
%responsive-media {
    width: 100%;
    height: auto;
    display: block;
}
%iframe-embed-container {
    padding: 0 0 56.25%;
    height: 0;
    position: relative;
    iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
}
