@import "themes";

%section-title {
    @extend %emphasis-themes;
    font-family: $base-font-family;
    font-size: 22px;
    margin-bottom: 20px 22px;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 0;
    line-height: 1.4;
}
%section-headline {
    @extend %standard-headline-themes;
    font-family: $base-font-family;
    font-size: 32px;
    margin-bottom: 20px 32px;
    font-weight: 800;
    margin-top: 0;
    line-height: 1.1;
    @include breakpoint( $screen-md-min) {
        font-size: 39px;
        margin-bottom: 17px 39px;
    }
    @include breakpoint( $screen-lg-min) {
        font-size: 42px;
        margin-bottom: 17px 42px;
    }
    a {
        text-decoration: none;
        color: inherit;
        &:hover {
            color: color("dark-blue");
        }
    }
}
%section-summary {
    @extend %standard-text-themes;
    font-family: $base-font-family;
    font-size: 1em;
    line-height: 1.38;
    margin-top: 0;
    a {
        text-decoration: none;
        color: color("dark-blue");
        &:hover {
            text-decoration: none;
        }
    }
}
%default-level1 {
    @extend %standard-headline-themes;
    font-family: $base-font-family;
    font-size: 38px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 20px 25px;
    line-height: 1.18;
    a {
        text-decoration: none;
        color: inherit;
        &:hover {
            color: color("dark-blue");
        }
    }
}
%default-level2 {
    @extend %standard-headline-themes;
    font-family: $base-font-family;
    font-size: 32px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 20px 25px;
    line-height: 1.18;
    a {
        text-decoration: none;
        color: inherit;
        &:hover {
            color: color("dark-blue");
        }
    }
}
%default-level3 {
    @extend %standard-headline-themes;
    font-family: $base-font-family;
    font-size: 22px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 10px 22px;
    line-height: 1.18;
    a {
        text-decoration: none;
        color: inherit;
        &:hover {
            color: color("dark-blue");
        }
    }
}
%default-level4 {
    @extend %standard-headline-themes;
    font-family: $base-font-family;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 10px 22px;
    line-height: 1.18;
    a {
        text-decoration: none;
        color: inherit;
        &:hover {
            color: color("dark-blue");
        }
    }
}
%default-level5 {
    @extend %standard-headline-themes;
    font-family: $base-font-family;
    font-size: 18px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 11px 18px;
    line-height: 1.18;
    a {
        text-decoration: none;
        color: inherit;
        &:hover {
            color: color("dark-blue");
        }
    }
}
%default-level6 {
    @extend %standard-headline-themes;
    font-family: $base-font-family;
    font-size: 16px;
    font-weight: 600;
    margin-top: 0;
    line-height: 1.18;
    a {
        text-decoration: none;
        color: inherit;
        &:hover {
            color: color("dark-blue");
        }
    }
}
