@import "themes";

%default-paragraph {
    @extend %standard-text-themes;
    font-family: $base-font-family;
    display: block;
    font-size: 1em;
    font-weight: normal;
    line-height: 1.44;
    margin: 0 0 1em;
    &:last-child {
        margin-bottom: 0;
    }
}
%default-link {
    @extend %standard-link-themes;
    font-family: $base-font-family;
    text-decoration: none;
    &[name]:not([href]) {
        color: inherit;
    }
    &:hover {
        text-decoration: none;
    }
}
%cta-secondary-link {
    @extend %standard-link-themes;
    font-family: $base-font-family;
    font-weight: 800;
    text-decoration: none;
    &:after {
        @include arrow(right);
        margin-left: .5em;
        line-height: 100%;
        vertical-align: middle;
    }
}
%default-ul {
    margin: 0 0 1.5em;
    &:last-child {
        margin-bottom: 0;
    }
}

%default-li {
    @extend %standard-text-themes;
    font-family: $base-font-family;
    font-size: 1em;
    margin: 0;
    line-height: 1.44;
}

%default-ol {
    margin: 0 0 1.5em;
    &:last-child {
        margin-bottom: 0;
    }
}
%default-dl {
    line-height: 1.2;
    margin-bottom: 1.5em;
    &:last-child {
        margin-bottom: 0;
    }
}

%default-dt {
    @extend %standard-headline-themes;
    font-family: $base-font-family;
    font-weight: 600;
    margin-top: 0;
    font-size: 1em;
}

%default-dd {
    @extend %standard-text-themes;
    font-family: $base-font-family;
    margin: 0 0 1em;
    font-size: 1em;
    margin-left: 0;
}

%default-th {
    @extend %standard-headline-themes;
    font-family: $base-font-family;
    font-size: 1em;
    padding: 10px 20px 10px 0;
    border-collapse: collapse;
    border: 0;
}

%default-td {
    @extend %standard-text-themes;
    font-family: $base-font-family;
    font-size: 1em;
    padding: 10px 20px 10px 0;
    border-collapse: collapse;
    border: 0;
    border-bottom: 1px solid;
}
