%standard-headline-themes {
    &,
    [data-theme="white"] & {
        color: color("black");
    }
    [data-theme="dark"] & {
        color: color("white");
    }
}
%standard-text-themes {
    &,
    [data-theme="white"] & {
        color: color("dark-gray");
    }
    [data-theme="dark"] & {
        color: color("white");
    }
}
%standard-link-themes {
    &,
    [data-theme="white"] & {
        color: color("dark-blue");
        &:hover {
            color: darken(color("dark-blue"), 10%);
        }
    }
    [data-theme="dark"] & {
        color: color("light-blue");
        &:hover {
            color: darken(color("light-blue"), 10%);
        }
    }
}
%component-background-themes {
    &,
    [data-theme="white"] & {
        background-color: color("white");
    }
    &[data-theme="dark"] {
        background-color: color("black");
    }
    &[data-theme="gray"] {
        background: color("light-gray");
    }
}
%emphasis-themes {
    &,
    [data-theme="white"] & {
        color: color("blue");
    }
    [data-theme="dark"] & {
        color: color("white");
    }
}
%band-background-themes {
    &,
    [data-band-background="white"] & {
        background-color: color("white");
    }
    &[data-band-background="dark"] {
        background-color: color("black");
    }
    &[data-band-background="gray"] {
        background: color("light-gray");
    }
}
