.band {
    @extend %standard-background-themes;
    padding: $band-padding 0;
    background-size: cover;
    &-container {
      @include container;
      padding: 0 9px;
      @include breakpoint($screen-sm-min) {
        width: 750px;
        padding: 0;
      }
      @include breakpoint($screen-md-min) {
        width: 970px;
      }
      @include breakpoint($screen-lg-min) {
        width: 1170px;
      }
    }
}
