$layouts: (
    2 8 2:   "nobreak",
    6 6:     "nobreak",
    4 4 4:   "nobreak",
    3 3 3 3: "",
    9 3:     "nobreak",
    8 4:     "nobreak",
    7 5:     "nobreak"
);
$sublayouts: 3 3, 4 4, 2 1;

@each $columns, $options in $layouts {
    @if length($columns) != 0 {
        [data-layout="#{$columns}"] {
            $list: (
                $screen-sm-min: $columns
            );
            @include layout(
                $layout: $list
            );
        }
        @if contains($options, "nobreak") {
            [data-layout="#{$columns} nobreak"] {
                $list: (
                    $screen-zero: $columns
                );
                @include layout(
                    $layout: $list,
                    $break: false
                );
            }
        }
    }
}

@each $columns in $sublayouts {
    [data-sublayout="#{$columns}"] {
        $list: (
            $screen-sm-min: $columns
        );
        @include layout(
            $layout: $list,
            $base: sum($columns),
            $break: false
        );
    }
}

%layout-stacked,
[data-layout="stacked"] {
    > * {
        margin-bottom: $box-padding;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
